@model tufol.Models.CreateTicketModel;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    var ticket_data = ViewBag.ticket_data;
    var role_id = Convert.ToInt32(ViewBag.role_id);
    var area_code = ViewBag.area_code;
    var controller = ViewBag.controller;
    var dpp_ppn = ticket_data.dpp + ticket_data.ppn;
    var simulation_result = ViewBag.simulation_result;
    var table_po = ticket_data.table_po == null ? new List<PoTicketModel>() : ticket_data.table_po;
    var table_gl = ticket_data.table_gl == null ? new List<GlTicketModel>() : ticket_data.table_gl;
    var table_material = ticket_data.table_material == null ? new List<GlTicketModel>() : ticket_data.table_material;
    var invoice_date = ticket_data.invoice_date == null ? null : ticket_data.invoice_date.ToString("yyyy-MM-dd");
    var tax_invoice_date = ticket_data.tax_invoice_date == null ? null : ticket_data.tax_invoice_date.ToString("yyyy-MM-dd");
    var posting_date = ticket_data.posting_date == null ? null : ticket_data.posting_date.ToString("yyyy-MM-dd");
    var diff_in = ticket_data.dpp - ticket_data.dpp_original;
    var no = 1;
}
@if(controller == "Ticket" || controller == "ChangeTicket"){
    <input type="hidden" name="ticket_number" id="ticket_number" value="@ticket_data.ticket_number" />
}

@if(!String.IsNullOrEmpty(ViewBag.error_message)) {
    <div class="alert alert-custom alert-notice @ViewBag.alert_message fade show" role="alert">
        <div class="alert-icon"><i class="@ViewBag.icon_message"></i></div>
        <div class="alert-text">
            @ViewBag.error_message
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}

@if(role_id == 2 && !String.IsNullOrEmpty(ticket_data.verification_note)) {
    <div class="alert alert-custom alert-notice alert-default fade show" role="alert">
        <div class="alert-icon"><i class="flaticon-warning"></i></div>
        <div class="alert-text">
            Status: @ticket_data.status_for_vendor
            @if (!string.IsNullOrEmpty(ticket_data.verification_note))
            {
            <div><br>Note: @ticket_data.verification_note</div>
            }
        </div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="ki ki-close"></i></span>
            </button>
        </div>
    </div>
}

@if(!String.IsNullOrEmpty(ticket_data.rpa_status_description)) {
    @if(ticket_data.status_rpa == "False") {
        <div class="alert alert-custom alert-notice alert-default fade show" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">
                Note RPA: @(String.IsNullOrEmpty(ticket_data.rpa_status_description) ? "-" : ticket_data.rpa_status_description)
            </div>
            <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                </button>
            </div>
        </div>
    }
}

@* begin::Main Content *@
@if(role_id == 6) {
    <div class="row mb-5">
        <button type="button" class="btn btn-warning ml-4" data-toggle="modal" data-target="#simulateResult">@Localizer["SimulationResult"]</button>
        <button type="submit" asp-action="RequestSimulate" class="btn btn-warning ml-5">@Localizer["RequestSimulation"]</button>
    </div>
}
<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["VendorInfo"]</h3>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="vendor_number">
                    @Localizer["VendorCode"]
                </label>
                <input type="text" class="form-control" id="vendor_number" asp-for="vendor_number" name="vendor_number" value="@ticket_data.vendor_number" readonly>
            </div>
            <div class="col-md-4">
                <label for="name">
                    @Localizer["VendorName"]
                </label>
                <input type="text" class="form-control" id="name" name="name" value="@ticket_data.name" readonly>
            </div>
            <div class="col-md-4">
                <label for="npwp">
                    @Localizer["NPWP"]
                </label>
                <input type="text" class="form-control" id="npwp" name="npwp" value="@ticket_data.npwp" readonly>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="contact_person">
                    @Localizer["ContactPerson"]
                </label>
                <input type="text" class="form-control" id="contact_person" name="contact_person" value="@ticket_data.contact_person" readonly>
            </div>
            <div class="col-md-6">
                <label for="email">
                    @Localizer["RegisteredEmail"]
                </label>
                <input type="email" class="form-control" id="email" name="email" value="@ticket_data.email" readonly />
            </div>
        </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["PaymentData"]</h3>
    </div>
    <div class="card-body">
        @if(ticket_data.country_vendor == "ID") {
            <input type="hidden" id="type_of_payment" name="type_of_payment" asp-for="type_of_payment" value='@(!String.IsNullOrEmpty(ticket_data.localidr_bank_name) ? "1" : "2")'>
            @if(!String.IsNullOrEmpty(ticket_data.localidr_bank_id) && !String.IsNullOrEmpty(ticket_data.localforex_bank_id)) {
                <div class="row form-group col-3">
                    <select class="form-control select2 kt_select2_location" name="payment" id="payment_data">
                        <option value="1">Local IDR</option>
                        <option value="2">Local Forex</option>
                    </select>
                </div>
            }
            <div class="row form-group">
                <div class="col-3">
                    <label for="bank_name">
                        @Localizer["BankName"]
                    </label>
                    <input type="text" class="form-control" id="local_bank_name" name="local_bank_name" value="@(!String.IsNullOrEmpty(ticket_data.localidr_bank_name) ? @ticket_data.localidr_bank_name : @ticket_data.localforex_bank_name)" readonly>
                </div>
                <div class="col-3">
                    <label for="swift_code">
                        @Localizer["SwiftCode"]
                    </label>
                    <input type="text" class="form-control" id="local_swift_code" name="local_swift_code" value="@(!String.IsNullOrEmpty(ticket_data.localidr_swift_code) ? @ticket_data.localidr_swift_code : @ticket_data.localforex_swift_code)" readonly>
                </div>
                <div class="col-3">
                    <label for="account_holder">
                        @Localizer["BeneficiaryName"]
                    </label>
                    <input type="text" class="form-control" id="local_account_holder" name="local_account_holder" value="@(!String.IsNullOrEmpty(ticket_data.localidr_account_holder) ? @ticket_data.localidr_account_holder : @ticket_data.localforex_account_holder)" readonly />
                </div>
                <div class="col-3">
                    <label for="account_number">
                        @Localizer["BankAccNum"]
                        <span class="text-danger">*</span>
                    </label>
                    <input type="hidden" name="local_account_bank" id="local_account_bank" value="@(!String.IsNullOrEmpty(@ticket_data.localidr_bank_account.ToString()) ? @ticket_data.localidr_bank_account.ToString() : @ticket_data.localforex_bank_account.ToString())">
                    <input type="text" class="form-control" asp_for="account_number" id="local_account_number" name="account_number" value='@((role_id != 2 || controller != "CreateTicket") ? (!String.IsNullOrEmpty(@ticket_data.localidr_bank_account.ToString()) ? @ticket_data.localidr_bank_account.ToString() : @ticket_data.localforex_bank_account.ToString()) : null)' placeholder="123456" />
                    <span class="text-danger" asp-validation-for="account_number" id="valid_local_account_bank"></span>
                </div>
            </div>
        } else {
            <input type="hidden" id="type_of_payment" name="type_of_payment" asp-for="type_of_payment" value="3">
            <div class="row form-group">
                <div class="col-4">
                    <label for="bank_name">
                        @Localizer["BankName"]
                    </label>
                    <input type="text" class="form-control" id="foreign_bank_name" name="foreign_bank_name" value="@ticket_data.foreign_bank_name" readonly>
                </div>
                <div class="col-4">
                    <label for="account_holder">
                        @Localizer["BeneficiaryName"]
                    </label>
                    <input type="text" class="form-control" id="foreign_account_holder" name="foreign_account_holder" value="@ticket_data.foreign_account_holder" readonly />
                </div>
                <div class="col-4">
                    <label for="account_number">
                        @Localizer["BankAccNum"]
                        <span class="text-danger">*</span>
                    </label>
                    <input type="hidden" name="foreign_account_bank" id="foreign_account_bank" value="@ticket_data.foreign_bank_account">
                    <input type="text" class="form-control" asp_for="account_number" id="foreign_bank_account" name="account_number" value='@(role_id != 2 || controller != "CreateTicket" ? @ticket_data.foreign_bank_account : null)' placeholder="123456" />
                    <span class="text-danger" asp-validation-for="account_number" id="valid_foreign_account_bank"></span>
                </div>
            </div>
        }
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["MailingData"]</h3>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="country">
                    @Localizer["Country"]
                    <span class="text-danger">*</span>
                </label>
                <select class="form-control select2 kt_select2_country" name="country_id" id="country_id" asp-for="country_id">
                    <option value="">Label</option>
                </select>
                <span class="text-danger" asp-validation-for="country_id"></span>
            </div>
            <div class="col-md-4">
                <label for="mailing_address">
                    @Localizer["MailingAddress"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="mailing_ddress" name="mailing_address" asp-for="mailing_address" value="@ticket_data.mailing_address">
                <span class="text-danger" asp-validation-for="mailing_address"></span>
            </div>
            <div class="col-md-4">
                <label for="province">
                    @Localizer["Province"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="province" name="province" asp-for="province" value="@ticket_data.province">
                <span class="text-danger" asp-validation-for="province"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label for="village">
                    @Localizer["Village"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="village" name="village" asp-for="village" value="@ticket_data.village">
                <span class="text-danger" asp-validation-for="village"></span>
            </div>
            <div class="col-md-4">
                <label for="district">
                    @Localizer["District"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="district" name="district" asp-for="district" value="@ticket_data.district">
                <span class="text-danger" asp-validation-for="district"></span>
            </div>
            <div class="col-md-4">
                <label for="phone_number">
                    @Localizer["PhoneNumber"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="phone_number" name="phone_number" asp-for="phone_number" value="@ticket_data.phone_number">
                <span class="text-danger" asp-validation-for="phone_number"></span>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["IndessoData"]</h3>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="company_id">
                    @Localizer["Company"]
                    <span class="text-danger">*</span>
                </label>
                <select class="form-control select2 kt_select2_company" asp-for="company_id" name="company_id" id="company_id">
                    <option value="">Label</option>
                </select>
                <span class="text-danger" asp-validation-for="company_id"></span>
            </div>
            <div class="col-md-4">
                <label for="area_code">
                    @Localizer["Area"]
                    <span class="text-danger">*</span>
                </label>
                <select class="form-control select2 kt_select2_location" asp-for="area_code" name="area_code" id="area_code">
                    <option value="">Label</option>
                </select>
                <span class="text-danger" asp-validation-for="area_code"></span>
            </div>
            <input type="hidden" id="buss_area" value="">
            <div class="col-md-4">
                <label for="estimated_payment">
                    @Localizer["EstimatedPayment"]
                </label>
                <input type="hidden" class="form-control" name="top_id" id="top_id" value="@ticket_data.top_id">
                <input type="hidden" class="form-control" name="top_duration" id="top_duration" value="@ticket_data.top_interval">
                <input type="date" class="form-control" id="estimated_payment" readonly>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["TaxData"]</h3>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="tax_status_id">
                    @Localizer["TaxStatus"]
                    <span class="text-danger">*</span>
                </label>
                <select class="form-control select2 kt_select2_tax_status" id="tax_status_id" asp-for="tax_status_id" name="tax_status_id">
                    <option value="">Label</option>
                </select>
                <span class="text-danger" asp-validation-for="tax_status_id"></span>
            </div>
            <div class="col-md-4 tax_invoice">
                <label for="tax_invoice_number">
                    @Localizer["TaxInvoiceNumber"]
                </label>
                <input type="text" class="form-control" id="tax_invoice_number" asp-for="tax_invoice_number" name="tax_invoice_number" value="@ticket_data.tax_invoice_number" placeholder="1234567890">
                <span class="text-danger" asp-validation-for="tax_invoice_number"></span>
            </div>
            <div class="col-md-4 tax_invoice">
                <label for="tax_invoice_date">
                    @Localizer["TaxInvoiceDate"]
                </label>
                <input type="date" class="form-control" id="tax_invoice_date" asp-for="tax_invoice_date" name="tax_invoice_date" value="@tax_invoice_date">
                <span class="text-danger" asp-validation-for="tax_invoice_date"></span>
            </div>
        </div>
    </div>
</div>

@if(role_id == 6) {
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <h3 class="card-title">@Localizer["Wht"]</h3>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-3">
                    <label for="tax_type_name">
                        @Localizer["NameWht"]
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" value="@ticket_data.tax_type_name" readonly>
                </div>
                <div class="col-3">
                    <label for="sap_code">
                        @Localizer["WhtCode"]
                    </label>
                    <input type="text" class="form-control" value="@ticket_data.sap_code" readonly>
                </div>
                <div class="col-3" id="wht_base">
                    <label for="pph">
                        @Localizer["WhtBase"]
                    </label>
                    <input type="text" class="form-control total_pph" value="@ticket_data.pph" readonly>
                </div>
                <div class="col-3" id="tax_amt_fc">
                    <label for="tax_amt_fc">
                        @Localizer["WhtAmount"]
                    </label>
                    <input type="text" class="form-control tax_amt_fc" name="tax_amt_fc" value="@ticket_data.tax_amt_fc">
                </div>
            </div>
        </div>
    </div>
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["InvoiceData"]</h3>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-3">
                <label for="invoice_number">
                    @Localizer["InvoiceNumber"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="invoice_number" asp-for="invoice_number" name="invoice_number" value="@ticket_data.invoice_number" placeholder='@Localizer["InvoiceNumber"]'>
                <span class="text-danger" asp-validation-for="invoice_number"></span>
            </div>
            <div class="col-3">
                <label for="invoice_date">
                    @Localizer["InvoiceDate"] 
                    <span class="text-danger">*</span>
                </label>
                <input type="date" class="form-control" id="invoice_date"asp-for="invoice_date" name="invoice_date" value="@invoice_date">
                <span class="text-danger" asp-validation-for="invoice_date"></span>
            </div>
            <div class="col-3">
                <label>@Localizer["SentBy"]: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="awb_check" name="awb_check">
                    <label class="form-check-label" for="awb_check">AWB/Mail</label>
                </div>
                <input type="text" class="form-control" name="awb_mail" id="awb_mail" value="@ticket_data.awb_mail">
            </div>
            <div class="col-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="reimburse_top" name="reimburse_top">
                    <label class="form-check-label" for="reimburse_top">Reimburse Back To Back</label>
                </div>
                <input type="hidden" class="form-control" name="top_duration" id="top_duration" value="@ticket_data.top_interval">
            </div>
        </div>
        <div class="row form-group">
            @if(role_id != 5) {
                <div class="col-3 po_type_group">
                    <label for="po_type_group">
                        @Localizer["CategoryPOType"]
                        <span class="text-danger">*</span>
                    </label>
                    <select class="form-control select2 kt_select2_po_type_group" id="po_type_group">
                        <option value="">Label</option>
                    </select>
                </div>
            }
            <div class="col-3 po_type_id">
                <label for="po_type_id">
                    @Localizer["POType"]
                    <span class="text-danger">*</span>
                </label>
                @if(role_id == 5) {
                    <input type="hidden" name="po_type_id" value="@ticket_data.po_type_id">
                    <input type="text" class="form-control" value="@ticket_data.po_type_name" readonly>
                } else {
                    <select class="form-control select2 kt_select2_po_type" name="po_type_id" asp-for="po_type_id" id="po_type_id">
                        <option value="">Label</option>
                    </select>
                    <span class="text-danger" asp-validation-for="po_type_id"></span>
                }
            </div>
            <div class="col-3">
                <label for="po_number">
                    @Localizer["PONumber"]
                    <span class="text-danger">*</span>
                </label>
                @if(role_id == 5) {
                    <input type="text" class="form-control" name="po_number" value="@ticket_data.po_number" readonly>
                } else {
                    <select class="form-control select2 kt_select2_po_number" name="po_number" asp-for="po_number" id="po_number">
                        <option value="">Label</option>
                    </select>
                    <span class="text-danger" asp-validation-for="po_number"></span>
                }
            </div>
            <div class="col-3 gr_number">
                <label for="gr_number">
                    @Localizer["GRNumber"]
                    <span class="text-danger">*</span>
                </label>
                @if(role_id == 5) {
                    <input type="text" class="form-control" name="gr_number" value="@ticket_data.gr_number" readonly>
                } else {
                    <select class="form-control select2 kt_select2_gr_number" name="gr_number" asp-for="gr_number" id="gr_number">
                        <option value="">Label</option>
                    </select>
                }
            </div>
        </div>
        <div class="card-toolbar">
            <ul class="nav nav-tabs nav-bold nav-tabs-line">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#po">
                    <span class="nav-icon"><i class="flaticon2-grids"></i></span>
                    <span class="nav-text">@Localizer["POReference"]</span>
                </a>
                </li>
                @if(role_id == 6) {
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#gl">
                        <span class="nav-icon"><i class="flaticon2-grids"></i></span>
                        <span class="nav-text">@Localizer["GLAccount"]</span>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#material">
                        <span class="nav-icon"><i class="flaticon2-grids"></i></span>
                        <span class="nav-text">@Localizer["Material"]</span>
                    </a>
                    </li>
                }
            </ul>
        </div>
        <div class="tab-content">
            <input type="hidden" name="total_price" class="po_total" value="@ticket_data.total_price">
            <input type="hidden" name="dpp" id="total_dpp_value" class="total_dpp" value="@ticket_data.dpp">
            <input type="hidden" name="ppn" class="total_ppn" value="@ticket_data.ppn">
            <input type="hidden" name="pph" class="total_pph" value="@ticket_data.pph">
            <div class="tab-pane fade show active" id="po" role="tabpanel" aria-labelledby="po">
                <table class="table table-bordered" id="po_table">
                    <thead class="text-center align-middle">
                        <tr>
                            <th>Item</th>
                            <th>GL Desc</th>
                            <th width="12%">QTY GR</th>
                            <th width="15%">QTY Billed</th>
                            <th>UoM</th>
                            <th>Currency</th>
                            <th width="15%">Amount GR</th>
                            <th width="15%">Amount To Be Inv</th>
                            <th width="20%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(table_po.Count != 0) {
                            @foreach(var item in table_po) {
                                var is_active = "";
                                var class_po_total = "po_total_row";
                                var class_gr_qty = "gr_qty";
                                var class_qty_billed = "qty_billed";
                                var class_amount_invoice = "amount_invoice";
                                var class_amount = "amount";
                                var css_background = "";
                                if(item.is_disabled) {
                                    is_active = "readonly";
                                    class_po_total = "disabled_po_total_row";
                                    class_gr_qty = "disabled_gr_qty";
                                    class_qty_billed = "disabled_qty_billed";
                                    class_amount_invoice = "disabled_amount_invoice";
                                    class_amount = "disabled_amount";
                                    css_background = "background-color: #C4C4C4";
                                }
                                <input type="hidden" name="old_po_item_number[]" value="@item.po_item_number">
                                <input type="hidden" name="is_disabled[]" value="@(item.is_disabled ? 1 : 0)">
                                <input type="hidden" name="vendor_origin[]" value='@(item.vendor_origin == null ? "null" : item.vendor_origin)'>
                                <input type="hidden" name="document_no[]" value='@(item.document_no == null ? "null" : item.document_no)'>
                                <input type="hidden" name="item_1[]" value='@(item.item_1 == null ? "null" : item.item_1)'>
                                <tr class="po_row" style="@css_background">
                                    <input type="hidden" class="po_item_number" name="po_item_number[]" value="@item.po_item_number">
                                    <input type="hidden" class="po_name" name="po_name[]" value="@item.po_name">
                                    <td>@item.po_name</td>
                                    <input type="hidden" class="gl_description" name="gl_description[]" value="@item.gl_description">
                                    <td>@(item.gl_description == null ? "-" : item.gl_description)</td>
                                    
                                    <td style="background-color: #C4C4C4;">
                                        <input type="text" class="form-control @class_gr_qty" name="gr_qty[]" value="@item.gr_qty" readonly>
                                    </td>
                                    
                                    <td>
                                        @if(role_id == 5) {
                                            <input type="text" class="form-control @class_qty_billed" name="qty_billed[]" size="3" value="@item.qty_billed" readonly>
                                        } else {
                                            <input type="text" class="form-control @class_qty_billed" name="qty_billed[]" size="3" value="@item.qty_billed" required @is_active>
                                        }
                                    </td>
                                    
                                    <input type="hidden" class="uom" name="uom[]" value="@item.uom">
                                    <td>@item.uom</td>
                                    
                                    <input type="hidden" class="currency" name="currency[]" value="@item.currency">
                                    <td>@item.currency</td>
                                    
                                    <td style="background-color: #C4C4C4;"><input type="text" class="form-control @class_amount" name="gr_amount[]" value="@item.gr_amount" readonly></td>
                                    
                                    <td>
                                        @if(role_id == 5) {
                                            <input type="text" class="form-control @class_amount_invoice" name="amount_invoice[]" size="3" value="@item.amount_invoice" readonly>
                                        } else {
                                            <input type="text" class="form-control @class_amount_invoice" name="amount_invoice[]" size="3" value="@item.amount_invoice" required @is_active>
                                        }
                                    </td>
                                    
                                    <td>
                                        <input type="text" class="form-control @class_po_total" name="amount_total[]" value="@item.amount_total" readonly>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <span class="font-weight-bold float-right">Total</span>
                            </td>
                            <td><input type="text" name="po_total" class="po_total form-control" value="0" readonly></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            @if(role_id == 6) {
                <div class="tab-pane fade" id="gl" role="tabpanel" aria-labelledby="gl">
                    <table class="table table-bordered" id="gl_table">
                        <thead class="text-center align-middle">
                            <tr>
                                <th width="25%">GL Number</th>
                                <th width="10%">Debit or Credit</th>
                                <th>Amount</th>
                                <th width="25%">Cost Center</th>
                                <th width="20%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(table_gl.Count != 0) {
                                @foreach(var item in table_gl) {
                                    <tr class="gl_row">
                                        <td><select class="form-control select kt_select2_gl_number" name="gl_number[]"><option value="@item.gl_number">@item.gl_number</option></select></td>
                                        <td>
                                            <select class="form-control gl_debt_or_credit kt_select2_gl_debt_or_credit" name="gl_debit_or_credit[]">
                                                <option value="@item.gl_debit_or_credit">@item.gl_debit_or_credit</option>
                                                <option value="Debit">Debit</option>
                                                <option value="Credit">Credit</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control gl_amount" name="gl_amount[]" size="3" value="@item.gl_amount"></td>
                                        <td><select class="form-control select kt_select2_cost_center" name="gl_cost_center[]"><option value="@item.gl_cost_center">@item.gl_cost_center</option></select></td>
                                        <td>
                                            <input type="text" class="form-control gl_total_row" name="amount_total[]" value="@item.gl_amount" readonly>
                                        </td>
                                    </tr>
                                }
                            }else {
                                <tr class="gl_row">
                                    <td><select class="form-control select kt_select2_gl_number" name="gl_number[]"></select></td>
                                    <td>
                                        <select class="form-control gl_debt_or_credit kt_select2_gl_debt_or_credit" name="gl_debit_or_credit[]">
                                            <option value="Debit">Debit</option>
                                            <option value="Credit">Credit</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control gl_amount" name="gl_amount[]" size="3"></td>
                                    <td><select class="form-control select kt_select2_cost_center" name="gl_cost_center[]"></select></td>
                                    <td>
                                        <input type="text" class="form-control gl_total_row" name="amount_total[]" value="0" readonly>
                                    </td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                <button type="button" id="gl_add" class="btn btn-primary float-left">@Localizer["AddItem"]</button>
                                    <span class="font-weight-bold float-right">Total</span>
                                </td>
                                <td><input type="text" name="gl_total" class="gl_total form-control" value="0" readonly></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="tab-pane fade" id="material" role="tabpanel" aria-labelledby="material">
                    <table class="table table-bordered" id="material_table">
                        <thead class="text-center align-middle">
                            <tr>
                                <th width="25%">Material ID</th>
                                <th>Plnt</th>
                                <th>Amount</th>
                                <th>QTY</th>
                                <th width="10%">Debit Or Credit</th>
                                <th width="20%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(table_material.Count != 0) {
                                @foreach(var item in table_material) {
                                    <tr class="material_row">
                                        <td><select class="form-control select kt_select2_material_id" name="material_id[]"><option value="@item.material_id">@item.material_id</option></select></td>
                                        <td><input type="text" class="form-control material_plnt" name="material_plnt[]" size="3" readonly value="@item.material_plnt"></td>
                                        <td><input type="text" class="form-control material_amount" name="material_amt[]" size="3" value="@item.material_amt"></td>
                                        <td><input type="text" class="form-control material_qty" name="material_qty[]" size="3" value="@item.material_qty"></td>
                                        <td>
                                            <select class="form-control material_debt_or_credit kt_select2_material_debt_or_credit" name="material_d_or_c[]">
                                                <option value="@item.material_d_or_c">@item.material_d_or_c</option>
                                                <option value="Debit">Debit</option>
                                                <option value="Credit">Credit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control material_total_row" name="material_total[]" value="@item.material_total" readonly>
                                        </td>
                                    </tr>
                                }
                            } else {
                                <tr class="material_row">
                                    <td><select class="form-control select kt_select2_material_id" name="material_id[]"><option value="">Label</option></select></td>
                                    <td><input type="text" class="form-control material_plnt" name="material_plnt[]" size="3" readonly></td>
                                    <td><input type="text" class="form-control material_amount" name="material_amt[]" size="3"></td>
                                    <td><input type="text" class="form-control material_qty" name="material_qty[]" size="3"></td>
                                    <td>
                                        <select class="form-control material_debt_or_credit kt_select2_material_debt_or_credit" name="material_d_or_c[]">
                                            <option value="Debit">Debit</option>
                                            <option value="Credit">Credit</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control material_total_row" name="material_total[]" value="0" readonly>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <button type="button" class="btn btn-primary float-left" id="material_add">@Localizer["AddItem"]</button>
                                    <span class="font-weight-bold float-right">Total</span>
                                </td>
                                <td><input type="text" name="material_total" class="material_total form-control" value="0" readonly></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
            <table class="table table-bordered" id="table_dpp_ppn_pph">
                <thead>
                    <tr>
                        <td colspan="7" class="text-right font-weight-bold">DPP</td>
                        <td>
                            <input type="text" id="total_dpp_scroll" class="total_dpp form-control" value="@ticket_data.dpp">
                            <span class="text-danger" id="total_dpp"></span>
                        </td>
                        <input type="hidden" name="dpp_original" class="total_dpp_original form-control" value="@ticket_data.dpp_original">
                    </tr>
                    <tr style="background-color: #C4C4C4;">
                        <td colspan="7" class="text-right font-weight-bold">PPN</td>
                        <td><input type="text" class="total_ppn form-control" value="@ticket_data.ppn" readonly></td>
                    </tr>
                    <tr class="bg-danger text-white">
                        <td colspan="7" class="text-right font-weight-bold">PPH</td>
                        <td><input type="text" class="total_pph form-control bg-danger text-white" value="@ticket_data.pph" readonly></td>
                    </tr>
                    <tr style="background-color: #C4C4C4;">
                        <td colspan="7" class="text-right font-weight-bold">DPP + PPN</td>
                        <td><input type="text" class="total_dpp_ppn form-control" value="@dpp_ppn" readonly></td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="form-group row" align="center">
            <div class="col-lg-6">
                <label class="h-25 align-items-center d-flex mb-3">
                    @Localizer["Currency"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="invoice_currency" name="invoice_currency" value="@ticket_data.invoice_currency" readonly>
            </div>
            <div class="col-lg-6 invoice_amount">
                <label class="h-25 align-items-center d-flex mb-3">
                    @Localizer["InvoiceAmount"]
                    <span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="invoice_amount" name="invoice_amount" value="@ticket_data.invoice_amount" readonly>
            </div>
        </div>
    </div>
</div>

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Localizer["Upload"]</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-lg-4">
                <label class="h-25 align-items-center d-flex mb-3">
                    @Localizer["Invoice"]
                    <span class="text-danger">*</span>
                </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file_invoice" asp-for="file_invoice" name="file_invoice" />
                    <label class="custom-file-label" for="file_invoice">@Localizer["ChooseFile"]</label>
                    @if(ticket_data.file_invoice != null && ticket_data.file_invoice.Length != 0) {
                        <label><a href="@ViewBag.BaseUrl/@ticket_data.file_invoice">@Localizer["Download"]</a></label>
                    }
                    <span class="text-danger" asp-validation-for="file_invoice"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label class="h-25 align-items-center d-flex mb-3">
                    PO
                    <span class="text-danger">*</span>
                </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file_po" asp-for="file_po" name="file_po" />
                    <label class="custom-file-label" for="file_po">@Localizer["ChooseFile"]</label>
                    @if(ticket_data.file_po != null && ticket_data.file_po.Length != 0) {
                        <label><a href="@ViewBag.BaseUrl/@ticket_data.file_po">@Localizer["Download"]</a></label>
                    }
                    <span class="text-danger" asp-validation-for="file_po"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label class="h-25 align-items-center d-flex mb-3">
                    @Localizer["GR"]
                    <span class="text-danger" id="required_file_lpb_gr"></span>
                </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file_lpb_gr" asp-for="file_lpb_gr" name="file_lpb_gr" />
                    <label class="custom-file-label" for="file_lpb_gr">@Localizer["ChooseFile"]</label>
                    @if(ticket_data.file_lpb_gr != null && ticket_data.file_lpb_gr.Length != 0) {
                        <label><a href="@ViewBag.BaseUrl/@ticket_data.file_lpb_gr">@Localizer["Download"]</a></label>
                    }
                    <span class="text-danger" asp-validation-for="file_lpb_gr"></span>
                </div>
            </div>
        </div>
        <div class="form-group row" align="center">
            <div class="col-lg-4">
                <label class="h-25 align-items-center d-flex mb-3">
                    @Localizer["TaxInvoice"]
                    <span class="text-danger">*</span>
                </label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" asp-for="file_tax_invoice" id="file_tax_invoice" name="file_tax_invoice" />
                    <label class="custom-file-label" for="file_tax_invoice">@Localizer["ChooseFile"]</label>
                    @if(ticket_data.file_tax_invoice != null && ticket_data.file_tax_invoice.Length != 0) {
                        <label><a href="@ViewBag.BaseUrl/@ticket_data.file_tax_invoice">@Localizer["Download"]</a></label>
                    }
                    <span class="text-danger" asp-validation-for="file_tax_invoice"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label class="h-25 align-items-center d-flex mb-3">@Localizer["DeliveryNote"]</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" asp-for="file_delivery_note" id="file_delivery_note" name="file_delivery_note" />
                    <label class="custom-file-label" for="file_delivery_note">@Localizer["ChooseFile"]</label>
                    @if(ticket_data.file_delivery_note != null && ticket_data.file_delivery_note.Length != 0) {
                        <label><a href="@ViewBag.BaseUrl/@ticket_data.file_delivery_note">@Localizer["Download"]</a></label>
                    }
                    <span class="text-danger" asp-validation-for="file_delivery_note"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label class="h-25 align-items-center d-flex mb-3">BAST</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" asp-for="file_bast" id="file_bast" name="file_bast" />
                    <label class="custom-file-label" for="file_bast">@Localizer["ChooseFile"]</label>
                    @if(ticket_data.file_bast != null && ticket_data.file_bast.Length != 0) {
                        <label><a href="@ViewBag.BaseUrl/@ticket_data.file_bast">@Localizer["Download"]</a></label>
                    }
                    <span class="text-danger" asp-validation-for="file_bast"></span>
                </div>
            </div>
        </div>
        @if(controller == "Ticket" && role_id != 2) {
            <div class="form-group row">
                <div class="col-12">
                    <label>@Localizer["Note"] <span class="text-danger valid-verification-note"></span></label>
                    <textarea class="form-control" name="verification_note" id="note" cols="20" rows="10">@ticket_data.verification_note</textarea>
                    <span class="text-danger" asp-validation-for="verification_note" id="verification-note"></span>
                </div>
            </div>
        }
    </div>
    <div class="card-footer text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                @if(role_id == 5) {
                    <button type="submit" name="action" value="Approve" asp-action="Approve" class="btn btn-success btn-approve mr-2">Approve</button>
                    <button type="submit" name="action" value="Revise" asp-action="Revise" class="btn btn-warning btn-revise mr-2">Revise</button>
                    <button type="submit" name="action" value="Reject" asp-action="Reject" class="btn btn-danger btn-reject">Reject</button>
                } else if(role_id == 2) {
                    if(ViewBag.controller == "CreateTicket") {
                        <button type="submit" name="action" value="Save" class="btn btn-success btn-save mr-2">@Localizer["Save"]</button>
                        <button type="submit" name="action" value="Send" class="btn btn-primary btn-send mr-2">@Localizer["Send"]</button>
                        <button type="submit" asp-action="Delete" class="btn btn-danger">@Localizer["Delete"]</button>
                    } else {
                        <button type="submit" asp-action="Save" class="btn btn-success btn-save mr-2">@Localizer["Save"]</button>
                        <button type="submit" asp-action="Send" class="btn btn-primary btn-send mr-2">@Localizer["Send"]</button>
                        <button type="submit" asp-action="Delete" class="btn btn-danger">@Localizer["Delete"]</button>
                    }
                }
            </div>
        </div>
    </div>
</div>
@if(role_id == 6) {
<div class="card card-custom gutter-b">
    <div class="card-body">
        <table class="table table-borderless">
            <tr>
                <th width="20%">Invoice Date</th>
                <td width="20%">@invoice_date</td>
                <th width="20%">Reference</th>
                <td>@ticket_data.ticket_number</td>
            </tr>
            <tr>
                <th width="20%">Posting Date</th>
                <td>@ticket_data.posting_date</td>
            </tr>
            <tr id="amount_accounting">
                <th width="20%">Amount</th>
                <td width="20%" class="amount">@ticket_data.invoice_amount</td>
                <td>@ticket_data.invoice_currency</td>
            </tr>
            <tr id="tax_amount_accounting">
                <th width="20%">Tax Amount</th>
                <td class="tax_amount">@ticket_data.pph</td>
                <td>@ticket_data.sap_code</td>
            </tr>
            <tr>
                <th width="20%">Payment Terms</th>
                <td>@ticket_data.top_interval days</td>
            </tr>
            <tr>
                <th width="20%">Baseline Date</th>
                <td>@(ticket_data.baseline_date == "Invoice Date"? invoice_date : posting_date)</td>
            </tr>
            <tr>
                <th width="20%">Company Code</th>
                <td>@ticket_data.company_id @ticket_data.company_name</td>
            </tr>
        </table>
        
        <table class="table table-bordered" id="po_table_accounting">
            <thead class="text-center align-middle">
                <tr>
                    <th>No</th>
                    <th>PO Number</th>
                    <th>Item</th>
                    <th>PO Text</th>
                    <th>Qty</th>
                    <th>UoM</th>
                    <th>Amount</th>
                    <th>Net Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ticket_data.table_po) {
                    <tr class="po_row">
                        <td>@no</td>
                        <td>@item.po_number</td>
                        <td>@item.po_item_number</td>
                        <td>@item.po_name</td>
                        <td class="gr_qty">@item.gr_qty</td>
                        <td>@item.uom</td>
                        <td class="amount_invoice">@item.amount_invoice</td>
                        <td class="text-right amount_total">@item.amount_total</td>
                    </tr>
                    no++;
                }
                <tr>
                    <td colspan="2" class="text-right font-weight-bold">Total</td>
                    <td colspan="6" class="text-right total_price">@ticket_data.total_price</td>
                </tr>

                <p>Journal Posting</p>
                <tr>
                    <th>Vendor AP</th>
                    <td class="total_dpp">@ticket_data.dpp</td>
                </tr>
                <tr>
                    <th>VAT IN</th>
                    <td class="total_ppn">@ticket_data.ppn</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-borderless" id="table_accounting">
            <tr>
                <th width="20%">Diff in Rounding Material?</th>
                <td class="total_diff_in">@diff_in</td>
            </tr>
            <tr>
                <th width="20%">GR / IR</th>
                <td class="total_dpp_ppn">@dpp_ppn</td>
            </tr>
        </table>
    </div>
    <div class="card-footer text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                @if(ticket_data.request_simulate || ticket_data.verification_status_id == 21) {
                    <button type="button" class="btn btn-primary mr-2" disabled>Approve</button>
                    <button type="button" class="btn btn-danger" disabled>Reject</button>
                } else {
                    <button type="submit" name="action" value="Approve" asp-action="Approve" class="btn btn-success btn-approve mr-2">Approve</button>
                    <button type="submit" name="action" value="Reject" asp-action="Reject" class="btn btn-danger btn-reject">Reject</button>
                }
            </div>
        </div>
    </div>
</div>
}
@* begin::Main Content *@

@if(role_id == 6) {
    <div class="modal fade" id="simulateResult" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localizer["SimulationResult"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="min-height: 500px;">
                    @if(!String.IsNullOrEmpty(ticket_data.rpa_status_description)) {
                        <div class="alert alert-custom alert-notice alert-default fade show" role="alert">
                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                            <div class="alert-text">
                                Note: @ticket_data.rpa_status_description
                            </div>
                            <div class="alert-close">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                </button>
                            </div>
                        </div>
                    }
                    <table class="table table-bordered table-responsive">
                    <tr>
                        <th>Position</th>
                        <th>Account</th>
                        <th>G/L</th>
                        <th>Act/Mat/Ast/Vndr</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Purchasing</th>
                        <th>Item</th>
                        <th>Tax Code</th>
                        <th>Jurisd. Code</th>
                        <th>Tax Date</th>
                        <th>Bus. Area</th>
                        <th>Cost Center</th>
                        <th>CO Area</th>
                        <th>Order</th>
                        <th>Asset</th>
                        <th>Sub Number</th>
                        <th>Asset Valuate</th>
                        <th>Material</th>
                        <th>Quantity</th>
                        <th>Base Unit</th>
                        <th>Plant</th>
                        <th>PartBusAr</th>
                        <th>Cost Object</th>
                        <th>Profit. Segment</th>
                        <th>Profit Center</th>
                        <th>Partner PrCtr</th>
                        <th>WBS Element</th>
                        <th>Network</th>
                        <th>Sales Order</th>
                        <th>SlsOrd. Item</th>
                        <th>Vendor Number</th>
                        <th>Posting Key</th>
                        <th>Pstg Line ID</th>
                        <th>Created Auto.</th>
                    </tr>
                    @if(simulation_result.Count != 0) {
                        @foreach (var item in simulation_result)
                        {
                            <tr>
                                <td>@item.position</td>
                                <td>@item.account_type</td>
                                <td>@item.g_l</td>
                                <td>@item.act_mat_ast_vndr</td>
                                <td>@item.amount</td>
                                <th>@item.currency</th>
                                <th>@item.po_number</th>
                                <th>@item.po_item_number</th>
                                <th>@item.tax_code</th>
                                <th>@item.jurisd_code</th>
                                <th>@item.tax_date</th>
                                <th>@item.bus_area</th>
                                <th>@item.cost_center</th>
                                <th>@item.co_area</th>
                                <th>@item.order_1</th>
                                <th>@item.asset</th>
                                <th>@item.sub_number</th>
                                <th>@item.asset_val</th>
                                <th>@item.material</th>
                                <th>@item.quantity</th>
                                <th>@item.base_unit</th>
                                <th>@item.plant</th>
                                <th>@item.part_bus_ar</th>
                                <th>@item.cost_object</th>
                                <th>@item.profit_segment</th>
                                <th>@item.profit_center</th>
                                <th>@item.partner_prctr</th>
                                <th>@item.wbs_element</th>
                                <th>@item.network</th>
                                <th>@item.sales_order</th>
                                <th>@item.sls_item</th>
                                <th>@item.vendor_number</th>
                                <th>@item.posting_key</th>
                                <th>@item.posting_line_id</th>
                                <th>@item.created_auto</th>
                            </tr>
                        }
                    } else {
                        <tr>
                            <td colspan="35">@Localizer["NoData"]</td>
                        </tr>
                    }
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var placeholder_country = '@Localizer["PlaceholderCountry"]';
    var placeholder_tax_status = '@Localizer["PlaceholderTaxStatus"]';
    var placeholder_location = '@Localizer["PlaceholderLocation"]';
    var placeholder_company = '@Localizer["PlaceholderCompany"]';
    var placeholder_po_type_group = '@Localizer["PlaceholderPOTypeGroup"]';
    var placeholder_po_type = '@Localizer["PlaceholderPOType"]';
    var placeholder_po_number = '@Localizer["PlaceholderPoNumber"]';
    var placeholder_gr_number = '@Localizer["PlaceholderGrNumber"]';
    var placeholder_gl_number = '@Localizer["PlaceholderGlNumber"]';
    var placeholder_cost_center = '@Localizer["PlaceholderCostCenter"]';
    var placeholder_material_id = '@Localizer["PlaceholderMaterialId"]';
    var localidr_bank_id = "@ticket_data.localidr_bank_id";
    var localidr_bank_name = "@ticket_data.localidr_bank_name";
    var localidr_swift_code = "@ticket_data.localidr_swift_code";
    var localidr_account_holder = "@ticket_data.localidr_account_holder";
    var localidr_bank_account = "@ticket_data.localidr_bank_account";
    var localforex_bank_id = "@ticket_data.localforex_bank_id";
    var localforex_bank_name = "@ticket_data.localforex_bank_name";
    var localforex_swift_code = "@ticket_data.localforex_swift_code";
    var localforex_account_holder = "@ticket_data.localforex_account_holder";
    var localforex_bank_account = "@ticket_data.localforex_bank_account";
    var top_interval = '@ticket_data.top_interval';
    var country_vendor = '@ticket_data.country_vendor';
    var country_id = '@ticket_data.country_id';
    var company_id = '@ticket_data.company_id';
    var area = '@area_code';
    var area_code = '@ticket_data.area_code';
    var vendor_number = '@ticket_data.vendor_number';
    var tax_type_id = '@ticket_data.tax_type_id';
    var tax_status_id = '@ticket_data.tax_status_id';
    var po_type_group_id = '@ticket_data.po_type_group_id';
    var po_type_id = '@ticket_data.po_type_id';
    var po_number = '@ticket_data.po_number';
    var gr_number = '@ticket_data.gr_number';
    var top_duration = '@ticket_data.top_duration';
    var top_interval = '@ticket_data.top_interval';
    var awb_mail = '@ticket_data.awb_mail';
    var controller = '@controller';
    var created_at = controller === "CreateTicket" ? null : '@ticket_data.created_at.ToString("yyyy-MM-dd")';
    var table_gl = JSON.parse('@Html.Raw(Json.Serialize(ticket_data.table_gl))');
    var table_material = JSON.parse('@Html.Raw(Json.Serialize(ticket_data.table_material))');

    var dpp = '@ticket_data.dpp';
    var ppn = '@ticket_data.ppn';
    var pph = '@ticket_data.pph';

    var tax_amt_fc = '@ticket_data.tax_amt_fc';

    var valid_bank_account = '@Localizer["ValidBankAccount"]';
    var role_id = '@role_id';
    var note = '@Localizer["ValidNote"]';
</script>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/apps/form_ticket.js?v=1.6.2"></script>
}