@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = ViewBag.role_id == "2" && ViewBag.controller == "Ticket" ? Localizer["TitleVendor"] : Localizer["Title"];
    var data = ViewBag.ticket_data;
}

@* begin::Main Content *@
<div class="row">
    <div class="col-lg-12">
        <form class="form" method="POST" asp-controller="Ticket" enctype="multipart/form-data">
            <partial name="_FormTicket" view-data="ViewData">
        </form>
    </div>
</div>
@* begin::Main Content *@

@* Begin:Live Chat *@
@if(ViewBag.role_id == "2") {
    <div class="fixed-live-chat" type="button" data-toggle="modal" data-target="#liveChat">
        <img src="~/media/users/contact_us.png" width="80px">
    </div>
    <div class="card card-custom modal" id="liveChat" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="false">
        <div class="card-header card-header-tabs-line">
            <h1 class="card-title">Send Message</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                <input type="hidden" class="mb-3 form-control" name="vendor_number" id="@data.vendor_number">
                <input type="text" class="mb-3 form-control" name="email" id="" placeholder="* Email">
                <textarea type="text" class="mb-3 form-control" name="message" id="" placeholder="* Message"></textarea>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-block btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
}
@* End:Live Chat *@

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/apps/form_ticket.js?v=1.6.2"></script>
}