@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    Layout = null;
    ViewData["Title"] = @Localizer["Title"];
    var role = ViewBag.idRole;
    var data = ViewBag.ticket_data;
}
<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head>
		<meta charset="utf-8" />
		<title>Print Page</title>
		<link rel="stylesheet" type="text/css" href="@ViewBag.BaseUrl/css/printpage.css" />
		<style type="text/css">
			.print_container { font-size: 10pt; }
			.print_container > .header { font-size: 14pt; }
		</style>
	</head>
	<body>
		<div class="print_container a4 m-small landscape">
			<div class="header align-center">@Localizer["Title"]</div>
			<div class="body">
				<div class="box">
					<table class="table table-bordered" cellpadding="0" cellspacing="0" border="1" width="100%" id="kt_datatable_all">
						<thead>
							<tr>
								<th title='@Localizer["StartDate"]'>@Localizer["StartDate"]</th>
                                <th title='@Localizer["ReceivedDate"]'>@Localizer["ReceivedDate"]</th>
                                <th title='@Localizer["TicketNumber"]'>@Localizer["TicketNumber"]</th>
                                <th title='MIRO'>MIRO</th>
                                <th title='@Localizer["VendorNumber"]'>@Localizer["VendorNumber"]</th>
                                <th title='@Localizer["Name"]'>@Localizer["Name"]</th>
                                <th title='@Localizer["InvoiceNumber"]'>@Localizer["InvoiceNumber"]</th>
                                <th title='@Localizer["Amount"]'>@Localizer["Amount"]</th>
                                <th title='@Localizer["Status"]'>@Localizer["Status"]</th>
							</tr>
						</thead>
                        <tbody>
                            @foreach (var item in data)
                            {
                                <tr>
                                    <td>@item.created_at</td>
                                    <td>@item.received_date</td>
                                    <td>@item.ticket_number</td>
                                    <td>@item.miro_number</td>
                                    <td>@item.vendor_number</td>
                                    <td>@item.name</td>
                                    <td>@item.invoice_number</td>
                                    <td>@item.invoice_amount</td>
                                    <td>@item.verification_name</td>
                                </tr>
                            }
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
    <script>
        window.open();
        window.print();
        @* window.close(); *@
    </script>
</html>
